<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<div class="book-container">
    <div class="buy-book">
        <div class="book-photo">
            <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg">
        </div>
        <h3 class="price">${{book.price}}</h3>
        <h3 class="view">
        <a href="/book/{{book.id}}">View Book</a>
        </h3>
        <h3 class="add-to-cart">
            <a href="" class="btn" id="add-to-cart">Add to Cart</a>
        </h3>
    </div>
    <div class="book-info">
        <div class="book-tag">  
            <span class="tag">{{book.status}}</span>
        </div>
        <h2 id="bookTitle">{{book.title}}</h2>
        <h3 id="bookAuthor">{{book.author}}</h3>
        <p>{{book.description}}</p>
    </div>
</div>
{{/each}}
