<!-- Loop over each object in the projects array -->
{{#each books as |book| }}
<div class="book-container">
    <div class="book-info">
        <div class="book-tag">
            {{!-- tag helper --}}
        </div>
        <h2>{{book.title}}</h2>
        <h3>{{book.author}}</h3>
        <p>{{book.description}}</p>
    </div>
    <div class="buy-book">
        <div class="book-photo">
            {{!-- photo --}}
        </div>
        <h3>{{book.price}}</h3>
        <h3>
        <a href="/book/{{book.id}}">View Book</a>
        </h3>
        <h3>
            <button class="btn" id="add-to-cart">Add to Cart</button>
        </h3>
    </div>
</div>
{{/each}}
